/* fonts */
@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-white: #FFFFFF;
  --basic-gray: #F1F5F7;
  --dark-blue: #32425C;
  --very-dark-blue: #293449;
  --basic-coral: #EE3643;
  --rich-yellow: #FFBF47;
  --basic-yellow: #FFC047;
  --basic-blue: #3BBCE3;
  --basic-violet: #DC91D8;
  --basic-green: #8ED78F;
  --rich-green: #63A63E;
  --basic-milk: #F9F5F0;
  --text-yellow: #FFD180;
  --black: #000000;
  --text-del: #A9A9A9;
}

/* Global */

body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  text-transform: none;
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */
.page {
  height: 100%;
}


/* main-header */

.Main-header {
  font-family: "Cuprum";
  font-style: normal;
  background-color: var(--basic-gray);
  margin-bottom: 59px;
}

.Main-header.catalog {
  margin-bottom: 21px;
}
.main-header-bar {
  background-color: var(--very-dark-blue);
}

.header-up {
  display: grid;
  width: 940px;
  grid-template-columns: 220px 3fr;
  justify-self: center;
  margin: 0 auto;
  padding: 0 10px;

}

.header-midle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 940px;
  height: 158px;
  justify-self: center;
  margin: 0px auto;
  padding: 0 10px;
}

.header-down {
  display: grid;
  background-color: var(--dark-blue);
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/*.titel {
  background-image: url("../img/background_logo.svg");
} */

h1,
.header-up-title,
.navigation-list,
.header-info-list {
  color: var(--basic-white);
  background-color: transparent;
  list-style: none;
}

.header-up-title a,
.navigation-list a {
  color: var(--basic-white);
}


.info-header {
  font-style: italic;
  color: var(--basic-coral);
  font-size: 16px;
  line-height: 23px;
  background-color: transparent;
}

.order {
  background-color: var(--rich-green);
}

.Contact-header {
  color: var(--dark-blue);
}

.tel-header-nomber {
  color: var(--basic-coral);
}

.Search input {
  font: inherit;
  background-color: transparent;
  border: none;
}


/* User navigation */

.main-navigation {
  display: grid;
  justify-self: center;
  color: var(--basic-white);
  background-color: transparent;
}

.navigation-list a:hover {
  background-color: #293449;
}

.navigation-list a:focus {
  background-color: #1D2739;
}

.user-navigation a {
  color: var(--black);
  font-size: 21px;
  line-height: 21px;
}



/* categories */

.conteiner {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.all-categories {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-list1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  column-gap: 20px;
}

.product-list2 {
  grid-template-columns: 2fr 1fr;
}

.container-categories {
  margin-bottom: 80px;
}

.product-group,
.slider {
  font-family: "Cuprum";
}

.Product-categories {
  width: 300px;
  height: 123px;
}

.Product-categories a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.Product-categories h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-white);
  padding-top: 20px;
  margin: 23 163px;

}

.materials {
  background-color: var(--rich-yellow);
}

.instruments {
  background-color: var(--basic-blue);
}

.vehicle {
  background-color: var(--basic-violet);
}

.discounts {
  background-color: var(--basic-green);
}

.delivery50 {
  background-color: var(--basic-yellow);
}

.slider-info h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

.slider {
  background-color: #cccccc;
  color: var(--basic-white);
}

.slider-info {
  background-color: transparent;
}

.main-button {
  color: var(--basic-white);
  background-color: var(--basic-coral);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.button-navi {
  background-color: transparent;
  border: none;
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: transparent;
}

/* titel */

.titel-head {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: var(--basic-milk);
  margin-bottom: 20px;
}

.titel-head h2 {
  font-family: "Cuprum";
  font-size: 30px;
  line-height: 30px;
  color: var(--dark-blue);
  font-weight: 400;
}


/* Popular */

.popular-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
}

.popular-products h3 {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;

}

.cart-product{
  margin: 0 auto;
  padding: 0 10px;
  outline: 1px solid #EAEAEA;
  justify-self: center;
  outline-width: -1px;
}


.old-price {
  color: #A9A9A9;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
}

.button-price {
  color: var(--basic-white);
  text-align: center;
  background-image: url("../img/price-button.svg");
  background-repeat: none;
}

/* brand */

.popular-brand {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.brand {
  outline: 1px solid #EAEAEA;
  justify-self: auto;
  outline-width: -1px;
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
}

.brand a{
  margin: 0 auto;
  padding: 0 30px;
  text-align: center;
}

/* service */

.service-background {
   background-color: var(--basic-gray);
}

.service {
  width: 940px;
}

.service p {
  font-size: 13px;
  line-height: 24px;
}

.titel-name {
  font-family: "Cuprum";
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.titel-name.service {
  padding-top: 64px;
}

.titel-name.delivery {
  color: var(--dark-blue);
}

.service-item {
  list-style: none;
  height: 61px;
  width: 240px;
  background-color: var(--dark-blue);
}

.service-list-block {
  margin: 0;
  padding: 0;

}

.service-item a {
  font-family: "Cuprum";
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  padding-top: 13px;
}

.service-item.active{
  background-color: var(--basic-white);
}

.service-item-name.active {
  color: var(--dark-blue);
}

.service-item :hover {
  background-color: var(--very-dark-blue);
  color: var(--basic-white);
}

.service-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.delivery-info {
 background-image: url(../img/service-delivery.png);
 background-repeat: no-repeat;
}

/* company-info */

.block-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 20px;
  padding-top: 70px;
  margin-bottom: 70px;
}

.block-info p {
  font-size: 13px;
  line-height: 24px;
}

.delivery-list {
  list-style: none;
  font-family: "Cuprum";
  font-size: 18px;
  line-height: 24px;

}

/*Grid for pages */


.page-catalog {
  display: grid;
  grid-template-columns: 220px 1fr;
  align-content: start;
  column-gap: 20px;
}
.page-catalog .breadcrumbs {
  grid-column: 1 / -1;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
  font-size: 13px;
  line-height: 18px;
}

.page-catalog .page-titel {
  grid-column: 1 / -1;
  background-color: var(--basic-gray);
  height: 89px;
  font-family: Cuprum;
  margin-bottom: 20px;
}
.page-titel h1 {
  color: var(--dark-blue);
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  margin-top: 29px;
  margin: 29px;
}

.catalog-info-zone {
  background-color: var(--basic-gray);
}

.catalog-info {
  width: 940px;
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  justify-self: center;
  font-family: PT Sans;
}
.catalog-info-titel {
  font-style: Cuprum;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  margin-top:  59px;
  padding-top: 64px;
}

.informacion {
  font-size: 13px;
  line-height: 24px;
  align-content: start;
  margin-top: 25px;
  padding-bottom: 59px;
}

/* НЕ ЗНАЮ ПОЧЕМУ НЕ РАБОТАЕТ */

/* footer */

.main-footer {
  color:var(--basic-white);
  background-color: var(--dark-blue);
}

.footer-content {
  max-width: 940px;
  font-family: "Cuprum";
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-up {
  display: grid;
  grid-template-columns: 220px 2fr;
  column-gap: 174px;
}

.footer-midle {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.footer-navigation-list {
  list-style: none;
}



.footer-navigation-list.first a {
  color: var(--basic-white);
}

.footer-navigation-list.second a {
  color: var(--text-yellow);
}

.footer-navigation-list :hover {
  text-decoration: underline;
}

.footer-navigation-list.first :focus {
  color: #F1F5F7;
}

.footer-navigation-list.second :focus {
  color: var(--text-yellow);
  opacity: 50%;
}

.footer-content-down {
   background-color: var(--very-dark-blue);

}

.footer-down {
  max-width: 940px;
  font-family: "Cuprum";
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-down-container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.aditation-info.copirite {
  margin-top: 0;
  padding: 0;
  width: 320px;
}

.social {
  list-style: none;
  text-align: center;
}

.social-link {
  justify-self: center;
  width: 145;
}

.aditation-info {
  justify-self: end;
}

.footer-down a {
  color: var(--text-yellow);
}

.footer-down a:hover{
  text-decoration: underline;
}

.footer-down a:focus{
  color: var(--basic-coral);
}


/* modal window*/


.modal {
  font-family: "Cuprum";
  box-shadow: 0 20px rgba(0, 0, 0, 0.75);
}

.main-button.modal-feedback {
  font:inherit;
  text-align: center;
  vertical-align: middle;
  border: none;
}
